<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> customers Home</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/index">Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/customers">Customers</a></li>
                    <li><i class="fa fa-square-o"></i>customers Home</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Transactions</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/customers/transactions" class="btn btn-primary">Manage Transactions</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Transaction Types</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/customers/transactionTypes" class="btn btn-primary">Manage Transaction
                                    Types</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Transaction Status</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/customers/transactionStatuses" class="btn btn-primary">Manage Transaction
                                    Status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Invoice</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/customers/invoices" class="btn btn-primary">Manage Invoice</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-4">
                <section class="panel">
                    <div class="panel-body">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title"><h3><b>Invoice Status</b></h3></h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                <a href="/customers/invoiceStatuses" class="btn btn-primary">Manage Invoice Status</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</div>

</body>
</html>
