<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">

<body>

<div layout:fragment="content">
    <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header"><i class="fa fa fa-bars"></i> story Edit</h3>
                <ol class="breadcrumb">
                    <li><i class="fa fa-home"></i><a href="/products">products Home</a></li>
                    <li><i class="fa fa-bars"></i><a href="/products/storys">story List</a></li>
                    <li><i class="fa fa-square-o"></i>story Hire Edit</li>
                </ol>
            </div>
        </div>
        <div class="container" style="width: 70%">
            <form class="form-horizontal" th:action="@{/products/storys}" method="post">
                <div class="row justify-content-center white-bg">
                    <section class="panel">
                        <header class="panel-heading">
                            Editing story Record
                        </header>
                        <br>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">story Id: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${story.id}" readonly
                                               name="id">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">story Type: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" name="storytypeid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="storyType : ${storyTypes}"
                                                    th:selected="${storyType.id} == ${story.storytypeid}? True: False"
                                                    th:value="${storyType.id}"
                                                    th:text="${storyType.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">story Name: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${story.name}" name="name"
                                               placeholder="story name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">story Number: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${story.storynumber}"
                                               name="storynumber" placeholder="Story Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Registration Date: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:field="${story.registrationDate}"
                                               name="registrationDate" placeholder="Registration date">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Description: </label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" th:field="${story.description}"
                                                  name="description" placeholder="Description" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Acquisition Date: </label>
                                    <div class="col-sm-6">
                                        <input type="date" class="form-control" th:field="${story.acquisitionDate}"
                                               name="acquisitionDate" placeholder="Acquisition date">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlstoryMakeAdd" class="col-sm-4 col-form-label">story
                                        Make: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlstoryMakeAdd" name="storymakeid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="storyMake : ${storyMakes}"
                                                    th:selected="${storyMake.id} == ${story.storymakeid} ? True: False"
                                                    th:value="${storyMake.id}"
                                                    th:text="${storyMake.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlstoryModelAdd" class="col-sm-4 col-form-label">story
                                        Model: </label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlstoryModelAdd" name="storymodelid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="storyModel : ${storyModels}"
                                                    th:selected="${storyModel.id} == ${story.storymodelid} ? True : False"
                                                    th:value="${storyModel.id}"
                                                    th:text="${storyModel.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-6">
                            <section class="panel">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Booklet: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${story.booklet}" name="booklet"
                                               placeholder="booklet(number)">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Story Image: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${story.storyimage}"
                                               name="storyimage" placeholder="Story Image">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Author: </label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" th:value="${story.author}"
                                               name="author" placeholder="Author">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Remarks: </label>
                                    <div class="col-sm-6">
                                        <textarea type="text" class="form-control" th:field="${story.remarks}"
                                                  name="remarks" placeholder="Remarks" rows="2"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlEmployeeAdd" class="col-sm-4 col-form-label">In Charge</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlEmployeeAdd" name="employeeid">
                                            <option th:value="${null}" disabled>-SELECT-</option>
                                            <option th:each="employee : ${employees}"
                                                    th:selected="${employee.id} == ${story.employeeid} ? True: False"
                                                    th:value="${employee.id}"
                                                    th:text="${employee.firstname}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="ddlCurrentStatusAdd" class="col-sm-4 col-form-label">Current
                                        Status</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlCurrentStatusAdd" name="storystatusid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="storyStatus : ${storyStatuses}"
                                                    th:selected="${storyStatus.id} == ${story.storystatusid} ? True: False"
                                                    th:value="${storyStatus.id}"
                                                    th:text="${storyStatus.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Select Image: </label>
                                    <div class="col-sm-6">
                                        <input type="file" class="form-control-file" id="fupImageAdd" name="photo"
                                               placeholder="Select File">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label">Current Location</label>
                                    <div class="col-sm-6">
                                        <select class="form-control" id="ddlCurrentLocationAdd" name="locationid">
                                            <option th:value="${null}">-SELECT-</option>
                                            <option th:each="location : ${locations}"
                                                    th:selected="${location.id} == ${story.locationid} ? True: False"
                                                    th:value="${location.id}"
                                                    th:text="${location.description}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
                <br>
                <div class="row white-bg">
                    <div class="panel-body">
                        <button type="submit" class="btn btn-primary">
                            Save
                        </button>
                        <a href="/products/storys" class="btn  btn-warning">
                            Exit
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </section>
</div>

</body>
</html>
